<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <form action="/api/person" method="post">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname"><br><br>
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname"><br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <input type="button" id="postJson" value="Post Json">

    <script>
        $('#postJson').on('click', function() {
            $.ajax({
                url: '/personjson',
                type: 'post',
                data: JSON.stringify({ firstname: 'Jane', lastname: 'Doe' }),
                dataType: 'json',
                contentType: 'application/json'
            });
        });
        
    </script>
</body>
</html>